
.idea/FinalProjectB.iml
.idea/misc.xml
Algs/__pycache__/Balancing_Routine.cpython-37.pyc
Algs/__pycache__/Embedd_DataSet.cpython-37.pyc
*.pyd
*.exe
*.pyc
*.csv
/venv/
Pipfile
Pipfile.lock
requirements.txt
utils/__pycache__/doc_utils.cpython-37.pyc
GUI/App/__pycache__/sidebar.cpython-37.pyc
*.pyc
*.pyc
*.iml
*.npy
*.npy
*.npy
*.npy
*.npy
*.npy
*.npy
Embedded_books/c1/j1-k07_1024_200.npy
Embedded_books/c1/j1-k08_1024_200.npy
Embedded_books/c1/j1-k06_1024_200.npy
Embedded_books/c1/j1-k05_1024_200.npy
Embedded_books/c1/j1-k04_1024_200.npy
Embedded_books/c1/j1-k03_1024_200.npy
Embedded_books/c1/j1-k08_1024_200.npy
Embedded_books/c1/j1-k07_1024_200.npy
*.npy
*.npy
*.npy
*.npy
*.npy
Embedded_books/c1/al_iqtisad_fi_al_itiqad_1024_200.npy
Embedded_books/c1/al_Madnun_bihi_ala_ghayri_1024_200.npy
Embedded_books/c1/Al_Mustasfa_min_ilm_al_Usul_1024_200.npy
Embedded_books/c1/Al_Mankhul_min_Taliqat_al_Usul_1024_200.npy
Embedded_books/c1/Fada_ih_al_Batiniyya_wa_Fada_il_al_Mustazhiriyy_1024_200.npy
Embedded_books/c1/al_iqtisad_fi_al_itiqad_1024_200.npy
Embedded_books/c1/al_Madnun_bihi_ala_ghayri_1024_200.npy
Embedded_books/c1/Al_Mankhul_min_Taliqat_al_Usul_1024_200.npy
Embedded_books/c1/Al_Mustasfa_min_ilm_al_Usul_1024_200.npy
Embedded_books/c1/Fada_ih_al_Batiniyya_wa_Fada_il_al_Mustazhiriyy_1024_200.npy
Embedded_books/c1/Faysal_at_Tafriqa_Bayna_al_Islam_wa_al_Zandaqa_1024_200.npy
Embedded_books/c1/Iljam_Al_Awamm_an_Ilm_Al_Kalam_1024_200.npy
Embedded_books/c1/j1-k04_1024_200.npy
Embedded_books/c1/j1-k03_1024_200.npy
Embedded_books/c1/j1-k05_1024_200.npy
Embedded_books/c1/j1-k06_1024_200.npy
Embedded_books/c1/j1-k07_1024_200.npy
Embedded_books/c1/j1-k0_1024_150.npy
Embedded_books/c1/j1-k08_1024_200.npy
Embedded_books/c1/Kimiya_yi_Saadat_1024_200.npy
Embedded_books/c1/Mishakat_al_Anwar_1024_200.npy
Embedded_books/c1/Tahafut_al_Falasifa_1024_200.npy
Embedded_books/c3/al_iqtisad_fi_al_itiqad_1024_200.npy
Embedded_books/c3/al_Madnun_bihi_ala_ghayri_1024_200.npy
Embedded_books/c3/Al_Mankhul_min_Taliqat_al_Usul_1024_200.npy
.idea/workspace.xml
.idea/workspace.xml
