app==0.0.1
appdirs==1.4.4
certifi==2020.12.5
cffi==1.14.5
click==7.1.2
distlib==0.3.1
easyparse==1.0.6
filelock==3.0.12
Flask==1.1.2
gevent==21.1.2
greenlet==1.0.0
homepage==0.5.3
importlib-metadata==4.0.1
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
np==1.0.2
numpy==1.20.2
parameter==0.0.3.dev2
Pillow==8.2.0
pipenv==2020.11.15
pycparser==2.20
six==1.16.0
torch==1.8.1+cu111
torchvision==0.9.0+cu111
typing-extensions==3.10.0.0
virtualenv==20.4.6
virtualenv-clone==0.5.4
Werkzeug==1.0.1
youtube-dl==2021.4.26
zipp==3.4.1
zope.event==4.5.0
zope.interface==5.4.0
